.services {
    text-align: center;
}

img {
    max-width: 40%;
   
}

.content_writing {
    display: inline-block;
    max-width: 40%;

    
}

.content_writing {
    text-align: justify;
}

.project {
    max-width: 30%;
    display: inline-block;   
}


